@import "tailwindcss";

@theme {
  /* 🎨 Warna untuk siswa */
  --color-siswa-primary-100: #52C3FF;
  --color-siswa-primary-200: #A2DBF9;

  /* 🎨 Warna untuk pemilik */
  --color-pemilik-primary-100: #f5a100;
}

html{
    scroll-behavior: smooth;
}