@import "tailwindcss";

@theme {
  /* 🎨 Warna untuk siswa */
  --color-siswa-primary-100: #52C3FF;
  --color-siswa-primary-200: #A2DBF9;
  --color-orange-100: #FFBF55;

  /* 🎨 Warna untuk pemilik */
  --color-pemilik-primary-100: #2E6DA4;
  --color-pemilik-primary-200: #003653;
}

html{
    scroll-behavior: smooth;
}